<div class="container">
  <h3 class="d-flex justify-content-center">FireFish Task</h3>
<h5 class="d-flex justify-content-center">Candidate Management Portal</h5>
</div>

<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
<ul class="navbar-nav">
  <li class="nav-item">
<button routerLink="candidate"
class="m-l btn btn-light btn-outline-danger" Button>Candidates</button>
  </li>

  <li class="nav-item">
    <button routerLink="skill"
    class="m-l btn btn-light btn-outline-danger" Button>Skills</button>
      </li>

</ul>
</nav>
<router-outlet></router-outlet>