<!-- Button trigger modal -->
<h4 type="label" class="float-left m-2">
    Candidates Skills
</h4>
<button type="button" class="btn btn-danger float-right m-2"
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>
   Add Skill
 </button>
 <form method="post">
<div class="btn btn-danger float-right m-2" >
    <select id="Candidateoption" style="height: 25px;" class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="javascript: if(this.value != '0') fetchCandSkillList()">
        <option selected>--Select Candidate--</option>
        <option *ngFor="let ddlItem of CandidateList" [value]="ddlItem.ID" size>{{ddlItem.FirstName}} {{ddlItem.SurName}}</option>
    </select> 
</div>
</form>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
           
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-edit-cand [cand]="CandItem" *ngIf="AddRemoveSkillComponent">
          </app-add-edit-cand>
        </div>
        
      </div>
    </div>
  </div>
<div>
  
</div>

<table class="table table-bordered" style="margin: auto; width: 50%;border: 3px ; padding: 10px;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Skill</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of CandidateSkillsList">
            <td style="width: 5px;">{{dataItem.SkillID}}</td>
            <td style="width: 40px">{{dataItem.SkillName}}</td>
            <td style="width: 2px; align-content: right;">
                <button type="button" class="btn btn-danger"
                 (click)="deleteClick(dataItem)"  >
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </button>
            </td>

        </tr>
    </tbody>
</table>
